// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*  メイン画像  */
.back-image-app {
background-image: url('baseb.png');
background-size: 100%;
background-repeat: no-repeat;
vertical-align: middle;
padding-bottom:50px;
margin-top:-22px;
margin-right:-15px;
text-align:center;
      .front-title {
          font-size:3.0vw;
          font-weight:bold;
          margin-top:30px;
          color:#327BEE;
          text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff, 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff;
      }
      .main-title {
          font-size:6.5vw;
          font-weight:bold;
          padding-top: 10px;
          color: #004D7F;
          text-shadow: 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff, 2px 2px 2px #fff, -2px 2px 2px #fff, 2px -2px 2px #fff, -2px -2px 2px #fff;
      }
      .after-title {
          font-size:5.0vw;
          font-weight:bold;
          color:orange;
          padding-left:50px;
          margin-top:20px;
          text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff, 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff;
          margin-bottom:0px;
      }
 
    .box2 {
     padding: 1vw 4.5vw 0.3vw;
     display:inline-block;
     background:red;
           p {
           color: #FFF;/*文字色*/
           font-weight: bold;
           font-size:2.0vw;
             }
      }
}
