// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*posts new*/

$main_color: #004D7F;
$sub_color: #1481c8;

.title {
	width:100%;
	height:50px;
	margin-bottom:30px;
}
.keyword {
	width:100%;
	height:30px;
	margin-bottom:30px;
}
.description{
	width:100%;
	height:100px;
	margin-bottom:30px;
}
.post-body {
	width:100%;
	margin-bottom:30px;
}
.image_post {
    width:550px;
    margin:50px auto 0;
}



/*posts index*/
    .post-index-image {
	    width:200px;
        }
    .post-base {
      	a, a:visited {color : #000;}
	    padding-left:20px;
	    .post-title {
	        font-size:2rem;
	        color:black;
	        width:95%;
	        font-weight:bold;
	        }
	    .post-description {
	      	margin-top:10px;
	        font-size:1rem;
	    	color:gray;
	    	font-weight:bold;
	      	width:95%;
	        }
     }

.square_btn{
    display: inline-block;
    margin:5px 0;
    padding: 0.5em;
    width:90%;
    text-decoration: none;
    background: $main_color;
    color: #FFFFFF;
    border-bottom: solid 4px #000;
    border-radius: 3px;
    text-decoration: none;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
    color: #FFFFFF;
}

.tops-wrapper {
	margin:50px 10px;
	text-align:center;
	p {
		line-height:2.5;
		font-size:18px;
		text-align:left;
		margin:50px;
	    }
	bold {
		font-weight:bold;
	    }
	span   {
        color:#0076BA;
        font-size:45px;
        text-decoration: underline;
        font-weight:bold;
        }
}



/*posts show*/
#post-detail{
	.headline-first {
       color:black;
       font-weight:bold;
	    }
	 .headline-first:first-letter {
       color:#666;
       font-size:140%;
       }
    h2:first-letter {
       color:#666;
       font-size:120%;
       }
    h2 {
		padding: 0.6em 0.6em;/*文字の上下 左右の余白*/
		color: #494949;/*文字色*/
		background: #f4f4f4;/*背景色*/
		border-left: solid 5px #666;/*左線*/
		border-bottom: solid 3px #d7d7d7;/*下線*/
		text-align:left;
		padding-left:30px;
		margin:0px auto;
		width:95%;
		font-size:21px;
		font-weight:bold;
    }
    h3:first-letter {
       color:#666;
       font-size:120%;
       }
    h3 {
		padding: 0.6em 0.6em;/*文字の上下 左右の余白*/
		color: #494949;/*文字色*/
		background: #f4f4f4;/*背景色*/
		border-left: solid 5px #666;/*左線*/
		border-bottom: solid 3px #d7d7d7;/*下線*/
		text-align:left;
		padding-left:30px;
		margin:0px auto;
		width:95%;
		font-size:21px;
		font-weight:bold;
    }
     h4 {
        position: relative;
        display: inline-block;
        padding: 0 55px;
        font-size:20px;
        font-weight:bold;
        text-align:left;
        padding-left:70px;
       }
     h4:before, h4:after {
        content: '';
        position: absolute;
        top: 50%;
        display: inline-block;
        width: 45px;
        height: 2px;
        border-top: solid 2px #666;
        border-bottom: solid 2px #666;
        }
     h4:before {
       left:0;
        }
     h4:after {
        right: 0;
        }
    h5 {
       color: #666;
       margin-left:60px;
       border: dotted #666 2px;/*ドット 色 太さ*/
       padding: 0.5em 0.5em 0.5em 2em;
       line-height: 1.5;
       width:60%;
       text-align:left;
         }
 }
